* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilos para los botones */
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-size: 1.2em; /* Tamaño de fuente grande y claro */
  margin: 10px; /* Espaciado entre elementos */
  cursor: pointer;
  border-radius: 4px;
}

/* Estilos para la línea "TOTAL" */
.total-row {
  background-color: #f2f2f2;
  font-size: 1.5em; /* Tamaño de fuente grande para la fila de totales */
  font-weight: bold; /* Negrita para destacar los totales */
}
/* Estilos para los botones de sumar y restar */
.increment-button,
.decrement-button  {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em; /* Tamaño de fuente grande para los botones */
  margin: 5px; /* Espaciado entre botones */
  margin-right: 4px;
  cursor: pointer;
  border-radius: 4px;
}
.remove-player-button {
  background-color: #d10816;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em; /* Tamaño de fuente grande para los botones */
  margin: 5px; /* Espaciado entre botones */
  margin-right: 4px;
  cursor: pointer;
  border-radius: 4px;
}
.decrement-button {
  background-color: #62c438;
}

/* Estilos para las líneas separadoras */
table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Estilos para los botones de acción */
.action-button {
  background-color: #3498db;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
   
}

.action-button.delete {
  background-color: #e74c3c;
}

/* Estilos para centrar y distribuir los elementos en la tabla */
td:last-child {
  text-align: center;
}

td:last-child .action-button {
  text-align: center;
  margin-right: 4px;
}

 /* Estilos para los jugadores */
.player-scores {
  
 position: absolute;
 display: grid;
 grid-template-columns: auto auto;
 gap: 10px;
 
  left: 10px; /* Ajusta según sea necesario para acercarlo al borde izquierdo */
  top: 20rem; /* Ajusta según sea necesario para la posición vertical */
 
  
}

/* Estilos para cada jugador */
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para el nombre del jugador */
.player-name {
  margin-bottom: 5px;
  text-align: center;
}

/* Estilos para el puntaje */
.score {
  font-size: 2em; /* Tamaño de fuente grande para el puntaje */
  color: #333; /* Color oscuro para mejor legibilidad */
  margin: 10px 0; /* Espaciado vertical */
}

/* Estilos para la columna "Total" */
.total-column {
  width: 100px; /* Ajusta el ancho según sea necesario */
  border-bottom: 2px solid #333; 
}

.total-row td {
  background-color: #f2f2f2; /* Color de fondo diferente para resaltar la fila */
  font-weight: bold; /* Hace que el texto sea más destacado */
}
/* Estilos para la celda de acciones */
.action-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px; /* Espacio entre botones */
}

.input-player-name {
  
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

.game-board {
 
  font-family: 'Permanent Marker', cursive; /* Fuente de estilo marcador */
  text-align: center;
  margin: 0 auto; /* Centrar el tablero con márgenes automáticos */
  max-width: 800px; /* Ancho máximo para el tablero */
  padding: 20px;
}

.player-score {
  background-color: rgb(229, 216, 216); /* Fondo claro para cada jugador */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px;
  margin-bottom: 20px; /* Espaciado entre jugadores */
  
}
.player-score:hover {
  transform: scale(1.02); /* Efecto de escala al pasar el mouse */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}
.action-buttons {
  display: flex;
  justify-content: center; /* Centrar botones de acción */
}

.action-button.delete-button {
  background-color: #e74c3c;
}

.input-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
}

.App {
  background-color: rgb(105, 213, 27);
  display: grid;
  
}