 @font-face {
  font-family: 'Score Board Normal';
  src: url('./fonts/scoreboard.ttf');
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0
}

h2, h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: 400;
  font-variation-settings: "MORF" 15, "SHLN" 69.1;
}

h1 {
  font-family: "Honk", system-ui;
  font-style: oblique;
  margin-bottom: 30px;
}

.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
}

body {
  font-family: 'Arial', sans-serif;
   
}

/* Styling for the game board */
.game-board {
  padding: 20px;
  background: linear-gradient(35deg, #6e8efb, #a777e3);
  color: #fff;
  min-height: 100vh;
}

/* Input and button styles */
.input-button input,
.button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

.button {
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f7f7f7;
}

/* Player score card styles */
.player-score {
  background: rgba(10, 6, 6, 0.432);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  position: relative;
  animation: fadeInUp 0.5s ease-out forwards;
  text-align: center;
}

.player-score h3 {
  margin: 0;
}

.score {
  font-size: 80px;
  font-weight: 100;
  color: #7ef174;
  font-family: 'Score Board Normal' ;
 
}

.score {
  font-size: 80px;
  font-weight: 100;
  color: #7ef174;
  font-family: 'Score Board Normal' ;
 
}
 
/* Remove player button styles */
.remove-player-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Table styles */
.table-container {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  overflow-x: auto;
}

.table-container th,
.table-container td {
  padding: 12px 15px;
  border: 1px solid #fff;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap; /* Asegura que el contenido de la celda no se envuelva */
  overflow: hidden; /* Oculta el contenido que excede el ancho de la celda */
   
  max-width: 0; /* Permite que las celdas se contraigan */
}

.total-row {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bolder;
   
}

.total-column {
  font-weight: bold;
}

/* Action button styles */
.action-buttons button {
  margin-right: 5px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.action-buttons button:hover {
  color: #f7f7f7;
}

/* Responsive design for smaller devices */
@media (max-width: 768px) {
  .game-board {
    padding: 5%;
  }

  .player-score {
    padding: 20px;
  }

  .table-container {
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina paddings internos */
    
  }
  .table-container th   {
 font-size: smaller;
 text-align: left;
 
  }
 
}

.hoverable-element {
  padding: 20px;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.hoverable-element.hover-effect {
  background-color: #e0e0e0;
}

.text-center {
  text-align: center;
  vertical-align: middle;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes highlight {
  from {
    background-color: #ff3e3e;
  }
  to {
    background-color: transparent;
  }
}

@keyframes grow {
  to {
    transform: scale(1.1);
  }
}

/* Botonera styles */
.botonera {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.botonera button {
  width: auto;
  padding: 10px 15px;
  border: 2px solid grey;
  border-radius: 7px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.botonera button:hover {
  background-color: #e0e0e0;
  border-color: #007bff;
  color: #007bff;
}

.botonera .remove-player-button {
  background-color: transparent;
  color: #dc3545;
}

.botonera .remove-player-button:hover {
  background-color: #dc3545;
  color: #fff;
}

.botonera .increment-button {
  color: #28a745;
}

.botonera .increment-button:hover {
  border-color: #28a745;
  color: #fff;
  background-color: #28a745;
}

.botonera .decrement-button {
  color: #dc3545;
}

.botonera .decrement-button:hover {
  border-color: #dc3545;
  color: #fff;
  background-color: #dc3545;
}

.player-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #0a0d24d2;
  font-family: "Holtwood One SC", serif;
}

/* TABLE */
.table-container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-container thead tr {
  background-color: #009879;
  color: #ffffff;
}

.table-container tbody tr:nth-of-type(even) {
  background-color: #a0c093;
}

.table-container tbody tr:nth-of-type(odd) {
  background-color: #bfd6d5e7;
}

.table-container tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.total-row .total-column td {
  background-color: #009879;
  color: #ffffff;
  font-size: xx-large;
}

.action-button:hover {
  background-color: #007961;
}

.delete-button:hover {
  background-color: #ff4c4c;
}

th, td {
  color: #010911;
}

th {
  font-weight: 900;
}
 